.sprite {
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

.sprite-calendar {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
    transition: background-position 0.2s 0.5s;
}

.sprite-calendar-green {
    width: 19px;
    height: 19px;
    background-position: -34px -5px;
}

.sprite-forum {
    margin-left: 28px;
    width: 28px;
    height: 20px;
    background-position: -63px -5px;
    transition: background-position 0.5s 0.5s;
}

.sprite-forum-green {
    width: 28px;
    height: 20px;
    background-position: -101px -5px;
}

.sprite-journey {
    margin-right: 30px;
    margin-left: 28px;
    width: 20px;
    height: 20px;
    background-position: -139px -5px;
    transition: background-position 0.5s 0.5s;
}

.sprite-journey-green {
    width: 20px;
    height: 20px;
    background-position: -169px -5px;
}
