.conteiner{
  height: 100vh;
  width: 100%;
  background-image: url("../img/rana-sawalha.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  background-position: center;
  line-height: 21px;
}
.header{
  position: relative;
  background-color:  rgba(0, 0, 0, 0.41);
  height: 54px;
}
a{
  text-decoration: none;
}
.logo{
  float: left;
  padding-left: 81px;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  transition: color 1s 0.5s;
  margin: 0 auto;
}
.logo:hover{
  color: #3cb878;
}
.welcome{
  float: right;
	margin-right: 75px;
	padding-left: 20px;
	border-left: 1px solid #2f2d2c;
	font-size: 14px;
	color: #fff;
  margin-top: -40px;
}
.welcome a {
  text-align: right;
  color: #3cb878;
  transition: border-bottom 0.5s ease-out 0.5s;
}
.welcome a:hover{
  border-bottom: 1px solid #3cb878;
}
.logo-green{
  text-align: right;
  color: #3cb878;
  transition: border-bottom 0.5s ease-out 0.5s;
}
.logo-green:hover{
  border-bottom: 1px solid #3cb878;
}
.sprite{
  float: right;
}
li{
  display: inline-block;
}
ul li{
  padding-top: 17px;
}
ul {
  text-align: right;
  padding-right: 250px;
}
.sprite-calendar:hover {
	background-position: -34px -5px;
}

.sprite-forum:hover {
	background-position: -101px -5px;
}

.sprite-journey:hover {
	background-position: -169px -5px;
}
.main-login {
  position: relative;
  top: calc(50% - 319px);
  margin: 0 auto;
  padding-top: 12px;
  width: 444px;
  height: 584px;
  box-sizing: border-box;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.sign-up {
	float: left;
	padding-left: 61px;
	color: #434343;
  font-family: Verdana;
  font-size: 20px;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 15px;
}
.block {
	position: absolute;
	top: 29px;
	width: 18px;
	height: 18px;
	background-color: #3cb878;
}
.login-green {
	float: right;
	padding-right: 61px;
  margin: 0 auto;
  padding-top: 21px;
}
.btn {
	width: 157px;
	height: 46px;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	border: 0;
}
.btn-text {
	display: inline-block;
	padding-left: 20px;
	vertical-align: middle;
  font-family: Verdana;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.fb {
	background-color: #305db8;
	transition: background-color 0.5s 0.5s;
}

.fb:hover {
	background-color: #264b96;
}

.gl {
	background-color: #df4a32;
	transition: background-color 0.5s 0.5s;
}

.gl:hover {
	background-color: #c3412c;
}
.fab {
	padding: 0 10px 2px 0;
	vertical-align: middle;
	font-size: 20px;
  color:  #ffffff;
}
.fa-facebook-f {
	border-right: 1px solid #1d4287;
}

.fa-google-plus-g {
	border-right: 1px solid #b03823;
}
.input-item {
	margin: 7px 0;
	padding-left: 17px;
	width: 322px;
	height: 46px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	font-size: 14px;
	color: #434343;
}
::placeholder {
	font-size: 14px;
	color: #bebebe;
}
.input-item:focus {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
	outline: none;
}
.checkbox {
	margin-left: -65px;
	text-align: left;
	color: #000;
  width: 14px;
  height: 11px;
}
.agree p{
    display: inline-block;
    padding: 0 10px;
    font-family: Verdana,sans-serif;
    color:  #434343;
    font-size: 14px;
    font-family: Verdana;
    font-size: 14px;
    text-align: left;
}
.agree a{
    font-family: Verdana,sans-serif;
    color:  #3cb878;
    font-size: 14px;
    text-align: left;
}
.create {
	width: 322px;
  height: 46px;
  border-radius: 3px;
  border: 1px solid transparent;
	background-color: #3cb878;
	transition: background-color 0.5s 0.5s;
  font-family: Verdana;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.create:hover {
	background-color: #2e9b65;
}
.or {
    position: relative;
    color: #848484;
}
.or p {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 5px;
    background-color: #ebebeb;
}
.or:before, .or:after {
    content: '';
    display: inline-block;
    width: 140px;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    border-top: 1px solid #ebebeb;
    transform: translateY(50%);
}
.or:before {
    left: 61px;
}
.or:after {
    right: 61px;
}
